.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#chart {
    flex-grow: 1;
    overflow-x: scroll;
}

#legend-container,
#tooltip {
    align-self: center;
    justify-content: space-between;
    padding: 5px;
    flex-grow: 0; /* Do not grow; maintain width based on content */
    max-width: 300px; /* Set maximum width for tooltip */
    height: fit-content;
}

#legend-container svg{
    margin-bottom: 100px;
}

#tooltip div{
    margin-bottom: 100px;
}

.selected {
    stroke: #000 ; /* Add your desired highlight style */
    stroke-width: 2px;
}