.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#chart {
    flex-grow: 1;
    overflow-x: scroll;
}

#legend-container,
#tooltip {
    align-self: center;
    justify-content: space-between;
    padding: 5px;
    flex-grow: 0; 
    max-width: 300px; 
    height: fit-content;
}

#legend-container svg{
    margin-bottom: 100px;
}

#tooltip div{
    margin-bottom: 100px;
}

.selected {
    stroke: #000 ; 
    stroke-width: 2px;
}

Button{ 
    padding: 8px;
    font-size: 10px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
